{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
  <div class="container">
    <h2 class="text-center">EXCEL WORKSHEET PROCESSOR</h2>
    <div id="main-container">
      <form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input class="form-control" name="myfile" type="file" id="files" accept=".xls,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" onchange="checkCount(this.files);" multiple required>
	<br/>
	<input type="submit" id="submitBtn" class="btn btn-primary center-block" value="Upload">
	<br/>
	<p><b>**</b> UPLOAD UPTO 10 FILES, IN FORMAT XLS, XLSX</p>
	<p><b>**</b> IF WRONG EXCEL FILES WILL BE UPLOADED, NO RESPONSE WILL BE PROVIDED.</p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
